* {
    box-sizing: border-box;  /* отображение для всего файла правильных отступов */
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Roboto', sans-serif;
}

.conteiner {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background: url("../img/bg/main_bg.jpg") center center/cover no-repeat;
    padding: 39px 0 61px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 9px;
}

h1 {
    margin-top: 53px;
}

.title {
    color: #F9BF3B;
    font-weight: 900;
    font-size: 41px;
    text-align: center;
    text-transform: uppercase;
}
.simple .title_big {  /* С пробелом, тк в симпле еще 2 вложения */
    color: #FFFFFF;
    font-weight: 900;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 21px;
}
h2.title {    /* Без пробела, тк у h2 нет других вложений, кроме title */
    margin-top: 21px;
}

.promo .promo_text {
    padding: 0 13px;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    margin-top: 23px;
}
.promo .promo_text span {
    font-weight: 700;
    color: #F9BF3B;
}

.promo .promo_btn, .gift .gift_btn {
    display: block;
    margin: 0 auto;
    margin-top: 72px;
    width: 313px;
    height: 72px;
    left: 805px;
    top: 551px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

    font-weight: 200;
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer; /* Меняет курсор при наведении */
}
.more {
    margin-top: 72px;
}
.more .more_text {
    color: #FFFFFF;
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}
.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}

.waiting {
    display: flex;
    padding: 88px 0 75px 0;
    min-height: 607px;   /* при редактировании текста в большую сторону будет меняться высота окна */
    background: #EFEFEF;
}
.waiting .waiting_header, .finish .finish_header {
    color: #252525;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}
.finish .finish_header {
    color: white;
}
.waiting .waiting_divider, .finish .finish_divider {
    background: #F9BF3B;
    width: 220px;
    height: 7px;
    margin: 0 auto;
    margin-top: 18px;
}
.waiting .waiting_subheader {
    color: #4A4A4A;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    margin-top: 19px;
}
.waiting .waiting_wrapper {
    display:flex;
    justify-content: space-around;
    margin-top: 45px;
}

.waiting .waiting_descr {
    margin-top: 26px;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #4A4A4A;
}
.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}
.optimization .optimization_header {
    color: #299CBD;
    margin-left: 391px;
    font-weight: 900;
    font-size: 28px;
    text-transform: uppercase;
}
.optimization .optimization_text {
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    align-items: center;
    color: #4A4A4A;
    margin-left: 391px;
    margin-top: 25px;
}
.optimization .optimization_text span {
    font-weight: 700;
}
.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}
.finish {
    margin: 0;
    min-height: 447px;
    background: url("../img/bg/second_bg.jpg") center center/cover no-repeat;
    padding: 86px 0 69px 0;
}
.finish .finish_wrapper {
    margin: 39px;
    display: flex;
    justify-content: space-between;
}
.finish .finish_wrapper .finish_item {
    width: 226px;
}
.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center; /* Выравнивание по продольной оси */
    align-items: center; /* Выравнивание по поперечной оси */
    width: 118px;
    height: 118px;
    background: #B4E2FF;
    border-radius: 100%;
    margin: 0 auto;
}
.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #EFEFEF;
}
.gift {
    padding: 88px 0;
    background: #EFEFEF;
    min-height: 631px;
}
.gift .conteiner {
    width: 1140px;
}
.gift .gift_img {
    display: block;
    margin: 0 auto;
}
.gift .gift_text {
    margin-top: 45px;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #252525;
}
.webinar {
    padding: 89px 0 51px 0;
    min-height: 512px;
}
.webinar .webinar_img {
    display: block;
    margin: 0 auto;
}
.webinar .webinar_header {
    margin-top: 36px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}
.webinar .webinar_date {
    margin-top: 30px;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #299CBD;
}
.webinar .webinar_text {
    margin-top: 25px;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    color: #4A4A4A;
}
footer {
    padding: 57px 0 69px 0;
    min-height: 169px;
    background: #1A1A1A;
}
footer .conteiner {
    width: 407px;
}
footer .links {
    display: block;
    margin: 0 auto;
    text-align: center;
}
footer .links .footer_a1, .footer_a2 {
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    text-decoration-line: underline;
    color: #888888;
}
footer .footer_vl {
    display: inline;
    color: #888888;
    text-align: center;
}
footer .footer_text {
    margin-top: 5px;
    color: #888888;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
}

